In [230]:
from selenium import webdriver
from bs4 import BeautifulSoup
import re

In [231]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime

In [232]:
driver = webdriver.Chrome('/Users/parkkyuseon/Downloads/chromedriver')
driver.implicitly_wait(3)

In [233]:
driver.get('https://www.baseball-reference.com/leagues/MLB/2020.shtml')
driver

In [182]:
col_team_off = [['Yr', 'Team', 'R/G', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 
                 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB',
                 'GDP', 'HBP', 'SH', 'SF', 'IBB', 'LOB']]
col_team_def = [['Yr', 'Team', 'RA/G', 'W', 'L', 'WP', 'ERA', 'G', 'GS', 'GF', 'CG', 'tSho', 'cSho', 'SV',
                 'IP', 'H', 'R', 'ER', 'HR', 'BB', 'IBB', 'SO', 'HBP', 'BK', 'WP', 'BF', 'ERA+', 'FIP',
                 'WHIP', 'H9', 'HR9', 'BB9', 'SO9', 'SO/W', 'LOB']]

team_off = pd.DataFrame(columns = col_team_off)
team_def = pd.DataFrame(columns = col_team_def)

In [183]:
## Edit Year to Get Previous Data
year = range(2020, 1875, -1)
for yr in year:
    url = 'https://www.baseball-reference.com/leagues/MLB/'+str(yr)+'.shtml'
    driver.get(url)

    driver.implicitly_wait(60)
    table = driver.find_element_by_xpath('//*[@id="teams_standard_batting"]/tbody').get_attribute("innerHTML") 
    soup = BeautifulSoup(table, 'html.parser') 

    for i in range(0,len(soup.findAll('tr'))-1):
        team_name = soup.findAll('tr')[i].get_text()[0:3]
        data = soup.findAll('tr')[i]
        data = data.findAll('td')[2::]
        for j in range(0, len(data)):
            data[j] = data[j].get_text()
        data = [yr, team_name] + data
        data = pd.DataFrame(data).T
        data.columns = team_off.columns
        team_off = pd.concat([team_off, data])
        
    table = driver.find_element_by_xpath('//*[@id="teams_standard_pitching"]/tbody').get_attribute("innerHTML") 
    soup = BeautifulSoup(table, 'html.parser') 
    
    for i in range(0,len(soup.findAll('tr'))-1):
        team_name = soup.findAll('tr')[i].get_text()[0:3]
        data = soup.findAll('tr')[i]
        data = data.findAll('td')[2::]
        for j in range(0, len(data)):
            data[j] = data[j].get_text()
        data = [yr, team_name] + data
        if len(data) == 34:
            data = data + ['']
        data = pd.DataFrame(data).T
        data.columns = team_def.columns
        team_def = pd.concat([team_def, data])

In [242]:
## National Association (1871~1875)
year = range(1875, 1870, -1)
for yr in year:
    url = 'https://www.baseball-reference.com/leagues/NA/'+str(yr)+'.shtml'
    driver.get(url)

    driver.implicitly_wait(60)
    table = driver.find_element_by_xpath('//*[@id="teams_standard_batting"]/tbody').get_attribute("innerHTML") 
    soup = BeautifulSoup(table, 'html.parser') 

    for i in range(0,len(soup.findAll('tr'))-1):
        team_name = soup.findAll('tr')[i].get_text()[0:3]
        data = soup.findAll('tr')[i]
        data = data.findAll('td')[2::]
        for j in range(0, len(data)):
            data[j] = data[j].get_text()
        data = [yr, team_name] + data
        data = pd.DataFrame(data).T
        data.columns = team_off.columns
        team_off = pd.concat([team_off, data])
        
    table = driver.find_element_by_xpath('//*[@id="teams_standard_pitching"]/tbody').get_attribute("innerHTML") 
    soup = BeautifulSoup(table, 'html.parser') 
    
    for i in range(0,len(soup.findAll('tr'))-1):
        team_name = soup.findAll('tr')[i].get_text()[0:3]
        data = soup.findAll('tr')[i]
        data = data.findAll('td')[2::]
        for j in range(0, len(data)):
            data[j] = data[j].get_text()
        data = [yr, team_name] + data
        if len(data) == 34:
            data = data + ['']
        data = pd.DataFrame(data).T
        data.columns = team_def.columns
        team_def = pd.concat([team_def, data])

In [243]:
team_off

,Yr,Team,R/G,G,PA,AB,R,H,2B,3B,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
0,2020,ARI,4.48,60,2238,1997,269,482,101,12,...,.391,.704,87,781,37,36,1,23,5,399
0,2020,ATL,5.80,60,2344,2074,348,556,130,3,...,.483,.832,116,1001,39,23,1,7,13,437
0,2020,BAL,4.57,60,2242,2026,274,523,102,7,...,.429,.750,104,870,32,27,15,10,5,399
0,2020,BOS,4.87,60,2304,2083,292,552,118,7,...,.445,.775,107,927,51,21,4,9,8,422
0,2020,CHC,4.42,60,2214,1918,265,422,82,8,...,.387,.705,90,742,42,52,1,13,9,406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1871,KEK,7.21,19,779,746,137,178,19,8,...,.294,.564,61,219,4,,,,,
0,1871,NYU,9.15,33,1437,1404,302,403,43,21,...,.350,.653,94,491,7,,,,,
0,1871,OLY,9.69,32,1401,1353,310,375,54,26,...,.369,.671,95,499,11,,,,,
0,1871,ROK,9.24,25,1074,1036,231,274,44,25,...,.364,.654,87,377,8,,,,,
0,1871,TRO,12.10,29,1297,1248,351,384,51,34,...,.417,.751,111,521,10,,,,,

In [244]:
team_def

,Yr,Team,RA/G,W,L,WP,ERA,G,GS,GF,...,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,LOB
0,2020,ARI,4.92,25,35,.417,4.84,60,60,60,...,2279,96,4.99,1.430,8.8,1.6,4.1,9.1,2.23,429
0,2020,ATL,4.80,35,25,.583,4.41,60,60,60,...,2276,108,4.42,1.362,8.5,1.2,3.8,8.7,2.30,415
0,2020,BAL,4.90,25,35,.417,4.51,60,60,60,...,2246,102,4.60,1.313,8.5,1.4,3.3,8.5,2.54,396
0,2020,BOS,5.85,24,36,.400,5.58,60,60,60,...,2389,85,5.19,1.601,10.1,1.7,4.3,9.2,2.13,466
0,2020,CHC,4.00,34,26,.567,3.99,60,60,58,...,2153,113,4.18,1.221,7.8,1.3,3.2,9.1,2.87,358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1871,KEK,12.79,6,11,.353,5.17,19,19,0,...,876,88,4.14,1.669,13.9,0.3,1.1,0.9,0.81,
0,1871,NYU,9.48,16,17,.485,3.72,33,33,1,...,1420,103,4.17,1.416,11.5,0.2,1.3,0.7,0.52,
0,1871,OLY,9.47,14,15,.483,4.37,32,32,0,...,1366,97,4.15,1.475,11.8,0.1,1.4,0.4,0.29,
0,1871,ROK,11.48,4,17,.190,4.30,25,25,2,...,1150,98,4.06,1.544,12.5,0.1,1.4,0.6,0.47,
0,1871,TRO,12.48,12,15,.444,5.51,29,29,1,...,1337,78,4.59,2.024,15.5,0.1,2.7,0.4,0.16,

In [228]:
col_team_pitWAR = [['yr', 'team', 'PitWAR']]
col_team_offWAR = [['yr', 'team', 'offWAR']]

team_pitWAR = pd.DataFrame(columns = col_team_pitWAR)
team_offWAR = pd.DataFrame(columns = col_team_offWAR)

In [235]:
## Edit Year to Get Previous Data
year = range(2020, 1900, -1)
for yr in year:
    url = 'https://www.baseball-reference.com/leagues/team_compare.cgi?request=1&year='+str(yr)+'&lg=MLB&stat=WAR'
    driver.get(url)

    time.sleep(8)
    driver.implicitly_wait(300)
    table = driver.find_element_by_xpath('//*[@id="team_output"]/tbody').get_attribute("innerHTML") 
    soup = BeautifulSoup(table, 'html.parser') 

    for i in range(0,len(soup.findAll('tr'))):
        data = soup.findAll('tr')[i]
        data = data.findAll('td')[1].get_text()
        data = [data[0:3]] + [data[3:]]
        data = [yr] + data
        data = pd.DataFrame(data).T
        data.columns = team_pitWAR.columns
        team_pitWAR = pd.concat([team_pitWAR, data])
        
    table = driver.find_element_by_xpath('//*[@id="team_output"]/tbody').get_attribute("innerHTML") 
    soup = BeautifulSoup(table, 'html.parser') 

    for i in range(0,len(soup.findAll('tr'))):
        data = soup.findAll('tr')[i]
        data = data.findAll('td')[4].get_text()
        data = [data[0:3]] + [data[3:]]
        data = [yr] + data
        data = pd.DataFrame(data).T
        data.columns = team_offWAR.columns
        team_offWAR = pd.concat([team_offWAR, data])

In [236]:
team_pitWAR

      yr team PitWAR
0   2020  CLE   10.4
0   2020  ATL    9.0
0   2020  WSN    8.7
0   2020  OAK    8.4
0   2020  TBR    8.3
..   ...  ...    ...
0   1901  MLA    5.9
0   1901  CHC    4.0
0   1901  CLE    2.9
0   1901  STL    2.3
0   1901  CIN   -0.8

[2556 rows x 3 columns]

In [237]:
team_offWAR

      yr team offWAR
0   2020  LAD   13.8
0   2020  SDP   10.9
0   2020  TBR   10.7
0   2020  CHW   10.4
0   2020  ATL    9.3
..   ...  ...    ...
0   1901  CHC   12.1
0   1901  CLE   11.4
0   1901  MLA   11.1
0   1901  NYG    7.2
0   1901  BSN    4.4

[2556 rows x 3 columns]

In [245]:
col_team_info = [['yr', 'Team', 'League', 'G', 'W', 'L', 'WPCT', 'R', 'RA']]

team_info = pd.DataFrame(columns = col_team_info)

In [246]:
url = 'https://www.baseball-reference.com/leagues/MLB/2020-standings.shtml'
driver.get(url)

driver.implicitly_wait(100)
table = driver.find_element_by_xpath('//*[@id="expanded_standings_overall"]/tbody').get_attribute("innerHTML") 
soup = BeautifulSoup(table, 'html.parser') 

for i in range(0,len(soup.findAll('tr'))-1):
    data = soup.findAll('tr')[i]
    data = data.findAll('td')[0:9]
    del data[6]
    for j in range(0, len(data)):
        data[j] = data[j].get_text()
    data = [2020] + data
    data = pd.DataFrame(data).T
    data.columns = team_info.columns
    team_info = pd.concat([team_info, data])

In [247]:
for i in range(0, len(team_info[['Team']])):
    if len(team_info.iloc[i, 1]) == 5:
        team_info.iloc[i, 1] = team_info.iloc[i, 1][2:5]

team_info

     yr Team League   G   W   L  WPCT    R   RA
0  2020  LAD     NL  60  43  17  .717  5.8  3.6
0  2020  TBR     AL  60  40  20  .667  4.8  3.8
0  2020  SDP     NL  60  37  23  .617  5.4  4.0
0  2020  MIN     AL  60  36  24  .600  4.5  3.6
0  2020  OAK     AL  60  36  24  .600  4.6  3.9
0  2020  ATL     NL  60  35  25  .583  5.8  4.8
0  2020  CHW     AL  60  35  25  .583  5.1  4.1
0  2020  CLE     AL  60  35  25  .583  4.1  3.5
0  2020  CHC     NL  60  34  26  .567  4.4  4.0
0  2020  NYY     AL  60  33  27  .550  5.3  4.5
0  2020  TOR     AL  60  32  28  .533  5.0  5.2
0  2020  STL     NL  58  30  28  .517  4.1  3.9
0  2020  MIA     NL  60  31  29  .517  4.4  5.1
0  2020  CIN     NL  60  31  29  .517  4.1  4.1
0  2020  HOU     AL  60  29  31  .483  4.7  4.6
0  2020  SFG     NL  60  29  31  .483  5.0  5.0
0  2020  MIL     NL  60  29  31  .483  4.1  4.4
0  2020  PHI     NL  60  28  32  .467  5.1  5.2
0  2020  SEA     AL  60  27  33  .450  4.2  5.1
0  2020  NYM     NL  60  26  34  .433  4.8  5.1
0  2020  COL     NL  60  26  34  .433  4.6  5.9
0  2020  KCR     AL  60  26  34  .433  4.1  4.5
0  2020  LAA     AL  60  26  34  .433  4.9  5.4
0  2020  WSN     NL  60  26  34  .433  4.9  5.0
0  2020  BAL     AL  60  25  35  .417  4.6  4.9
0  2020  ARI     NL  60  25  35  .417  4.5  4.9
0  2020  BOS     AL  60  24  36  .400  4.9  5.9
0  2020  DET     AL  58  23  35  .397  4.3  5.5
0  2020  TEX     AL  60  22  38  .367  3.7  5.2
0  2020  PIT     NL  60  19  41  .317  3.7  5.0

In [248]:
## Edit Year to Get Previous Data
## Do Not Put 2020 Here

year = range(2019, 1875, -1)
for yr in year:
    url = 'https://www.baseball-reference.com/leagues/MLB/'+str(yr)+'-standings.shtml'
    driver.get(url)

    time.sleep(2)
    driver.implicitly_wait(5)
    table = driver.find_element_by_xpath('//*[@id="expanded_standings_overall"]/tbody').get_attribute("innerHTML") 
    soup = BeautifulSoup(table, 'html.parser') 

    for i in range(0,len(soup.findAll('tr'))-1):
        data = soup.findAll('tr')[i]
        data = data.findAll('td')[0:8]
        for j in range(0, len(data)):
            data[j] = data[j].get_text()
        data = [yr] + data
        data = pd.DataFrame(data).T
        data.columns = team_info.columns
        team_info = pd.concat([team_info, data])

      yr Team League   G   W   L  WPCT    R   RA
0   2020  LAD     NL  60  43  17  .717  5.8  3.6
0   2020  TBR     AL  60  40  20  .667  4.8  3.8
0   2020  SDP     NL  60  37  23  .617  5.4  4.0
0   2020  MIN     AL  60  36  24  .600  4.5  3.6
0   2020  OAK     AL  60  36  24  .600  4.6  3.9
..   ...  ...    ...  ..  ..  ..   ...  ...  ...
0   1876  BSN     NL  70  39  31  .557  6.7  6.4
0   1876  LOU     NL  69  30  36  .455  4.1  5.0
0   1876  NYU     NL  57  21  35  .375  4.6  7.2
0   1876  ATH     NL  60  14  45  .237  6.3  8.9
0   1876  CIN     NL  65   9  56  .139  3.7  8.9

[2905 rows x 9 columns]

In [249]:
## National Association (1871~1875)
year = range(1875, 1870, -1)
for yr in year:
    url = 'https://www.baseball-reference.com/leagues/NA/'+str(yr)+'-standings.shtml'
    driver.get(url)

    time.sleep(2)
    driver.implicitly_wait(5)
    table = driver.find_element_by_xpath('//*[@id="expanded_standings_overall"]/tbody').get_attribute("innerHTML") 
    soup = BeautifulSoup(table, 'html.parser') 

    for i in range(0,len(soup.findAll('tr'))-1):
        data = soup.findAll('tr')[i]
        data = data.findAll('td')[0:8]
        for j in range(0, len(data)):
            data[j] = data[j].get_text()
        data = [yr] + data
        data = pd.DataFrame(data).T
        data.columns = team_info.columns
        team_info = pd.concat([team_info, data])
        
team_info

      yr Team League   G     W     L  WPCT     R    RA
0   2020  LAD     NL  60    43    17  .717   5.8   3.6
0   2020  TBR     AL  60    40    20  .667   4.8   3.8
0   2020  SDP     NL  60    37    23  .617   5.4   4.0
0   2020  MIN     AL  60    36    24  .600   4.5   3.6
0   2020  OAK     AL  60    36    24  .600   4.6   3.9
..   ...  ...    ...  ..   ...   ...   ...   ...   ...
0   1871  OLY     15  15  .500   7.0  17.0   9.7   9.5
0   1871  TRO     13  15  .464   8.0  21.5  12.1  12.5
0   1871  CLE     10  19  .345  11.5  44.5   8.6  11.8
0   1871  KEK      7  12  .368   9.5  30.5   7.2  12.8
0   1871  ROK      4  21  .160  15.5  76.5   9.2  11.5

[2955 rows x 9 columns]

In [250]:
team_off.to_csv('team_off_mlb_br.csv', index=True, header=True)
team_def.to_csv('team_def_mlb_br.csv', index=True, header=True)
team_info.to_csv('team_info_mlb_br.csv', index=True, header=True)
team_pitWAR.to_csv('team_pitWAR_mlb_br.csv', index=True, header=True)
team_offWAR.to_csv('team_offWAR_mlb_br.csv', index=True, header=True)