In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import re

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime

In [4]:
driver = webdriver.Chrome('/Users/parkkyuseon/Downloads/chromedriver')
driver.implicitly_wait(3)

In [5]:
driver.get("""http://www.kbreport.com/teams/main?rows=20&order=TPCT&orderType=DESC&teamId=&
defense_no=&year_from=2020&year_to=2020&split01=&split02_1=&split02_2=""")
driver

In [6]:
col_team_off1 = [['Yr', 'Team', 'G', 'W', 'D', 'L', 'WPCT', 'PythW', 'R/G', 
                  'AVG', 'OBP', 'SLG']]
col_team_off2 = [['PA', 'AB', 'H', '2B', '3B', 'HR', 'R', 'RBI', 'BB', 
                  'IBB', 'HBP', 'SO', 'SF', 'SH', 'GDP', 'SB', 'CS']]
col_team_off3 = [['BABIP', 'BBP', 'KP', 'OPS', 'BB/K', 'RC', 'RC27', 'wRC', 'SPD', 'wSB', 'wOBA', 'wRAA', 'WAR']]

team_off1 = pd.DataFrame(columns = col_team_off1)
team_off2 = pd.DataFrame(columns = col_team_off2)
team_off3 = pd.DataFrame(columns = col_team_off3)

In [63]:
url = """http://www.kbreport.com/teams/main?rows=20&order=TPCT&orderType=DESC&teamId=&
defense_no=&year_from=2020&year_to=2020&split01=&split02_1=&split02_2="""
driver.get(url)

driver.implicitly_wait(15)
table = driver.find_element_by_xpath('//*[@class="ltb-table responsive"]/tbody').get_attribute("innerHTML") 
soup = BeautifulSoup(table, 'html.parser') 
soup = soup.findAll('td')
data = soup[0:len(soup)-21]
for i in range(0, len(data)):
    data[i] = soup[i].get_text()
data2 = []
for i in range(0, len(data)):
    if len(data[i]) < 10:
        data2 = data2 + [data[i]]

data2 = np.array_split(data2, 10)
data3 = pd.DataFrame(data2[0]).T

for i in range(1, len(data2)):
    data4 = pd.DataFrame(data2[i]).T
    data3 = pd.concat([data3, data4])

data3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1,NC,132,78,4,50,0.609,0.607,6.18,816,171,94,9.2,17.0,0.325,0.290,0.366,0.461,0.366,30.70
0,2,KT,132,74,1,57,0.565,0.550,5.60,739,152,98,9.6,19.1,0.330,0.283,0.357,0.437,0.353,22.80
0,3,LG,135,74,3,58,0.561,0.560,5.56,750,143,74,8.8,17.3,0.317,0.279,0.350,0.431,0.347,20.12
0,4,두산,133,72,4,57,0.558,0.568,5.68,756,117,81,9.5,13.9,0.322,0.292,0.365,0.427,0.354,24.49
0,5,Hero,138,76,1,61,0.555,0.540,5.33,735,126,107,10.6,18.0,0.315,0.271,0.356,0.413,0.346,21.64
0,6,롯데,130,67,1,62,0.519,0.532,5.32,691,106,85,10.1,15.1,0.314,0.279,0.357,0.404,0.343,18.04
0,7,KIA,130,67,0,63,0.515,0.470,4.98,648,116,40,9.5,17.1,0.315,0.273,0.351,0.403,0.340,16.04
0,8,삼성,133,58,3,72,0.446,0.459,4.78,636,117,116,8.7,17.8,0.308,0.267,0.337,0.392,0.328,9.48
0,9,SK,134,46,1,87,0.346,0.360,4.35,583,135,72,9.4,17.8,0.283,0.249,0.328,0.382,0.320,4.65
0,10,한화,133,43,2,88,0.328,0.333,3.83,509,76,48,8.5,20.9,0.302,0.244,0.320,0.339,0.303,-3.75