In [1]:
# matplotlib 한글 출력 가능하도록 만들기
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [2]:
# 데이터 크롤링 모듈
from selenium import webdriver
from bs4 import BeautifulSoup
import re

In [3]:
# 데이터 분석 모듈
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime

In [4]:
# 가상 웹드라이버 불러오기


# chromedriver.exe가 크롬 버젼에 맞게 설치 되어 있어야 함
driver = webdriver.Chrome('chromedriver.exe')
driver.implicitly_wait(3)

driver.get('http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=0&ys=1982&ye=1982&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&o2=TPA&de=1&lr=5&tr=&cv=&ml=1&sn=30&si=&cn=')
driver

In [ ]:
#버전 85.0.4183.121(공식 빌드) (64비트)

In [ ]:
#driver.implicitly_wait(3)

In [159]:
#1982년도 자료 불러보기
# url 지정
url = 'http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=0&ys=1982&ye=1982&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&o2=TPA&de=1&lr=5&tr=&cv=&ml=1&sn=30&si=&cn='
# 드라이버로 url 부르기    
driver.get(url)

driver.implicitly_wait(5)
#기록 table을 str형태로 저장
html = driver.find_element_by_xpath('//*[@id="mytable"]/tbody').get_attribute("innerHTML") 
#str 객체를 BeautifulSoup 객체로 변경    
soup = BeautifulSoup(html, 'html.parser') 

# 스탯티즈에 나온 표 형태로 빈 데이터프레임을 생성
col_league_record = [['순','이름','팀','WAR*','G','타석','타수','득점','안타'
                                ,'2타','3타','홈런','루타','타점','도루','도실','볼넷',
                                '사구','고4','삼진','병살','희타','희비',
                                '비율','비율','비율','비율','비율','비율',
                                'WAR*'] , \
                              ['순','이름','팀','WAR*','G','타석','타수','득점','안타'
                                ,'2타','3타','홈런','루타','타점','도루','도실','볼넷',
                                '사구','고4','삼진','병살','희타','희비',
                                '타율','출루','장타','OPS','wOBA','wRC+',
                                'WAR*']]

league_record_1982 = pd.DataFrame(columns= col_league_record)


team_name_1 = ['MBC','삼성','OB','해태','롯데','삼미']
#리그 기록
data1 = ['1', '리그','82'] # split해서 가져오기 애매해서 그냥 리스트 생성으로 대체
data2 = soup.findAll('tr')[3].text.split(' ')[1:][::2] 
data3 = data1 + data2 
data3 = pd.DataFrame(data3).T
data3.columns = league_record_1982.columns
league_record_1982 = pd.concat([league_record_1982, data3])
#팀 기록
for i in range(7,13):
    data1 = ['1', team_name_1[i-7],'82']
    #print(data1)
    data2 = soup.findAll('tr')[i].text.split(' ')[1:][::2]
    data3 = data1 + data2 
    data3 = pd.DataFrame(data3).T
    data3.columns = league_record_1982.columns
    league_record_1982 = pd.concat([league_record_1982, data3])

    
    
    
league_record_1982

   순   이름   팀   WAR*     G     타석     타수    득점    안타   2타  ...   병살   희타   희비  \
   순   이름   팀   WAR*     G     타석     타수    득점    안타   2타  ...   병살   희타   희비
0  1   리그  82  89.81  5372  18208  16024  2276  4247  726  ...  305  216  128
0  1  MBC  82  19.33   952   3061   2686   419   757  124  ...   56   32   27
0  1   삼성  82  18.61   887   3043   2647   429   705  126  ...   50   36   18
0  1   OB  82  17.97   930   3098   2745   399   778  137  ...   35   46   18
0  1   해태  82  15.32   873   2990   2665   374   696  110  ...   59   28   21
0  1   롯데  82  12.47   863   3062   2628   353   674  112  ...   61   41   27
0  1   삼미  82   6.11   867   2954   2653   302   637  117  ...   44   33   17

     비율                                  WAR*
     타율    출루    장타   OPS  wOBA   wRC+   WAR*
0  .265  .338  .390  .728  .331  100.0  89.81
0  .282  .354  .410  .764  .346  109.5  19.33
0  .266  .347  .392  .739  .338  104.3  18.61
0  .283  .349  .412  .762  .343  107.6  17.97
0  .261  .328  .408  .736  .332  100.6  15.32
0  .256  .344  .373  .717  .329   98.7  12.47
0  .240  .304  .345  .648  .298   79.0   6.11

[7 rows x 30 columns]

In [191]:
#1982-2020  리그기록
col_league_record = [['순','이름','팀','WAR*','G','타석','타수','득점','안타'
                                ,'2타','3타','홈런','루타','타점','도루','도실','볼넷',
                                '사구','고4','삼진','병살','희타','희비',
                                '비율','비율','비율','비율','비율','비율',
                                'WAR*','WPA'] , 
                              ['순','이름','팀','WAR*','G','타석','타수','득점','안타'
                                ,'2타','3타','홈런','루타','타점','도루','도실','볼넷',
                                '사구','고4','삼진','병살','희타','희비',
                                '타율','출루','장타','OPS','wOBA','wRC+',
                                'WAR*','WPA']]

league_record = pd.DataFrame(columns= col_league_record)






for i in range(1982,2021):
    url = 'http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=0&ys='+ str(i)+'&ye='+str(i)+'&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&o2=TPA&de=1&lr=5&tr=&cv=&ml=1&sn=30&si=&cn='

    driver.get(url)
    driver.implicitly_wait(5)

    html = driver.find_element_by_xpath('//*[@id="mytable"]/tbody').get_attribute("innerHTML") #기록 table을 str형태로 저장
    soup = BeautifulSoup(html, 'html.parser') #str 객체를 BeautifulSoup 객체로 변경
    

    

    #리그 기록
    data1 = ['1', '리그', str(i)[2:]]
    data2 = soup.findAll('tr')[3].text.split(' ')[1:][::2]
    data3 = data1 + data2 
    if len(data3) != 31 : #WPA 기록이 14년도 부터 제공되기 때문에 값이 없는경우 na값 생성
        data3.append(np.nan)

    data3 = pd.DataFrame(data3).T
    data3.columns = league_record.columns
    league_record = pd.concat([league_record, data3])

    
league_record

   순  이름   팀    WAR*      G     타석     타수    득점     안타    2타  ...   희타   희비  \
   순  이름   팀    WAR*      G     타석     타수    득점     안타    2타  ...   희타   희비
0  1  리그  82   89.81   5372  18208  16024  2276   4247   726  ...  216  128
0  1  리그  83  108.93   6962  22540  19951  2409   5102   806  ...  393  140
0  1  리그  84  105.80   7191  22400  19703  2300   4995   823  ...  341  148
0  1  리그  85  122.41   8377  24997  21890  2695   5700   940  ...  471  188
0  1  리그  86  129.60   9895  28364  24879  2776   6234   979  ...  607  176
0  1  리그  87  134.99   9571  28567  25125  3022   6666  1012  ...  521  179
0  1  리그  88  139.26   9610  28555  25163  3220   6747  1034  ...  547  191
0  1  리그  89  152.74  11300  31881  27654  3508   7099  1161  ...  540  252
0  1  리그  90  153.82  10840  31919  27566  3661   7077  1169  ...  558  247
0  1  리그  91  182.02  13129  38294  33233  4437   8514  1442  ...  654  259
0  1  리그  92  188.29  12978  38778  33545  4800   8866  1477  ...  623  284
0  1  리그  93  179.47  12731  37648  33010  3709   8145  1337  ...  698  252
0  1  리그  94  181.73  12738  37827  33220  4186   8540  1397  ...  709  282
0  1  리그  95  182.21  13029  37945  33393  4188   8381  1424  ...  602  307
0  1  리그  96  182.16  13013  38137  33233  4103   8342  1504  ...  746  266
0  1  리그  97  184.42  12955  38139  33088  4453   8532  1577  ...  810  284
0  1  리그  98  182.67  12433  38179  33539  4446   8745  1595  ...  698  265
0  1  리그  99  193.96  13117  41508  36160  5684   9995  1722  ...  639  320
0  1  리그  00  194.38  13351  41604  36306  5375   9792  1804  ...  516  317
0  1  리그  01  193.83  13739  41960  36121  5507   9893  1744  ...  644  321
0  1  리그  02  191.86  13764  40986  36135  4932   9517  1679  ...  536  264
0  1  리그  03  192.55  13253  41152  35774  4933   9607  1715  ...  755  286
0  1  리그  04  193.17  13475  41351  35812  4990   9541  1653  ...  672  302
0  1  리그  05  184.43  12694  38976  33847  4626   8912  1488  ...  704  256
0  1  리그  06  170.67  12898  38091  33212  3981   8469  1423  ...  806  243
0  1  리그  07  179.79  13000  38995  33808  4306   8879  1532  ...  733  317
0  1  리그  08  181.41  12826  39018  34098  4522   9098  1513  ...  521  324
0  1  리그  09  194.75  13234  41864  36110  5492   9938  1752  ...  559  337
0  1  리그  10  190.75  13333  41597  35879  5301   9681  1650  ...  733  320
0  1  리그  11  189.46  13267  41068  35543  4822   9409  1562  ...  782  290
0  1  리그  12  193.34  13397  40527  35199  4380   9072  1577  ...  822  308
0  1  리그  13  214.78  14503  44893  38794  5353  10411  1845  ...  677  362
0  1  리그  14  215.73  14561  45853  39870  6476  11534  2155  ...  613  402
0  1  리그  15  220.59  18744  56739  49340  7598  13804  2482  ...  834  438
0  1  리그  16  219.73  18684  57614  50280  8074  14560  2480  ...  651  507
0  1  리그  17  215.73  18507  56881  50345  7682  14397  2584  ...  600  459
0  1  리그  18  216.53  18225  56903  50547  7994  14445  2639  ...  447  427
0  1  리그  19  211.92  17619  55623  49221  6548  13143  2288  ...  436  505
0  1  리그  20  195.08  17021  51447  45105  6771  12323  2113  ...  442  426

     비율                                   WAR*     WPA
     타율    출루    장타   OPS  wOBA   wRC+    WAR*     WPA
0  .265  .338  .390  .728  .331  100.0   89.81     NaN
0  .256  .323  .368  .691  .317  100.1  108.93     NaN
0  .254  .326  .365  .692  .320  100.0  105.80     NaN
0  .260  .332  .375  .707  .325  100.0  122.41     NaN
0  .251  .322  .351  .672  .314  100.0  129.60     NaN
0  .265  .335  .365  .701  .328  100.0  134.99     NaN
0  .268  .336  .378  .714  .327  100.0  139.26     NaN
0  .257  .336  .360  .696  .328  100.0  152.74     NaN
0  .257  .339  .371  .709  .331  100.0  153.82     NaN
0  .256  .336  .381  .717  .329  100.0  182.02     NaN
0  .264  .345  .400  .746  .338  100.4  188.29     NaN
0  .247  .320  .348  .668  .312   99.9  179.47     NaN
0  .257  .327  .370  .697  .319  100.0  181.73     NaN
0  .251  .322  .368  .690  .313  100.0  182.21     NaN
0  .251  .327  .370  .697  .317  100.0  182.16     NaN
0  .258  .334  .391  .726  .324  100.0  184.42     NaN
0  .261  .331  .398  .730  .322  100.0  182.67     NaN
0  .276  .352  .441  .793  .345  100.0  193.96     NaN
0  .270  .347  .422  .769  .341  100.0  194.38     NaN
0  .274  .357  .420  .777  .349  100.0  193.83     NaN
0  .263  .335  .412  .747  .328  100.0  191.86     NaN
0  .269  .345  .414  .759  .338  100.0  192.55     NaN
0  .266  .347  .400  .747  .340  100.0  193.17     NaN
0  .263  .342  .392  .734  .333  100.0  184.43     NaN
0  .255  .330  .364  .694  .320  100.0  170.67     NaN
0  .263  .340  .378  .718  .330  100.0  179.79     NaN
0  .267  .342  .379  .721  .335  100.0  181.41     NaN
0  .275  .358  .428  .787  .350  100.0  194.75     NaN
0  .270  .351  .406  .757  .342  100.0  190.75     NaN
0  .265  .344  .383  .727  .335  100.0  189.46     NaN
0  .258  .334  .364  .698  .324  100.0  193.34     NaN
0  .268  .350  .388  .737  .342  100.0  214.78     NaN
0  .289  .365  .443  .807  .359  100.8  215.73  106.43
0  .280  .357  .430  .787  .349  100.4  220.59   93.19
0  .290  .364  .437  .801  .359  100.3  219.73  132.38
0  .286  .353  .438  .791  .348  100.5  215.73  101.13
0  .286  .353  .450  .803  .349  100.3  216.53  137.00
0  .267  .337  .384  .722  .332   99.8  211.92   -7.42
0  .273  .349  .410  .759  .344  100.0  195.08   66.05

[39 rows x 31 columns]

In [5]:
#1982-2020  팀별기록
col_team_record = [['순','이름','팀','WAR*','G','타석','타수','득점','안타'
                                ,'2타','3타','홈런','루타','타점','도루','도실','볼넷',
                                '사구','고4','삼진','병살','희타','희비',
                                '비율','비율','비율','비율','비율','비율',
                                'WAR*','WPA'] , \
                              ['순','이름','팀','WAR*','G','타석','타수','득점','안타'
                                ,'2타','3타','홈런','루타','타점','도루','도실','볼넷',
                                '사구','고4','삼진','병살','희타','희비',
                                '타율','출루','장타','OPS','wOBA','wRC+',
                                'WAR*','WPA']]

team_record = pd.DataFrame(columns= col_team_record)






for i in range(1982,2021):
    url = 'http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=0&ys='+ str(i)+'&ye='+str(i)+'&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&o2=TPA&de=1&lr=5&tr=&cv=&ml=1&sn=30&si=&cn='

    driver.get(url)
    driver.implicitly_wait(5)

    html = driver.find_element_by_xpath('//*[@id="mytable"]/tbody').get_attribute("innerHTML") #기록 table을 str형태로 저장
    soup = BeautifulSoup(html, 'html.parser') #str 객체를 BeautifulSoup 객체로 변경
    

    

#    team_name_1 = ['MBC','삼성','OB','해태','롯데','삼미']


    for j in range(7,len(soup.findAll('tr'))) :
        data1 = ['1', soup.findAll('tr')[j].text.split(' ')[0], str(i)[2:] ]
        data2 = soup.findAll('tr')[j].text.split(' ')[1:][::2]
        data3 = data1 + data2 
        if len(data3) != 31 : #WPA 기록이 14년도 부터 제공되기 때문에 값이 없는경우 na값 생성
            data3.append(np.nan)

        data3 = pd.DataFrame(data3).T
        data3.columns = team_record.columns
        team_record = pd.concat([team_record, data3])
team_record

    순      이름   팀   WAR*     G    타석    타수   득점    안타   2타  ...  희타  희비    비율  \
    순      이름   팀   WAR*     G    타석    타수   득점    안타   2타  ...  희타  희비    타율
0   1  1MBC82  82  19.33   952  3061  2686  419   757  124  ...  32  27  .282
0   1   2삼성82  82  18.61   887  3043  2647  429   705  126  ...  36  18  .266
0   1   3OB82  82  17.97   930  3098  2745  399   778  137  ...  46  18  .283
0   1   4해태82  82  15.32   873  2990  2665  374   696  110  ...  28  21  .261
0   1   5롯데82  82  12.47   863  3062  2628  353   674  112  ...  41  27  .256
.. ..     ...  ..    ...   ...   ...   ...  ...   ...  ...  ...  ..  ..   ...
0   1   6롯데20  20  18.48  1552  5096  4452  688  1240  232  ...  36  44  .279
0   1  7KIA20  20  16.32  1614  5028  4399  645  1204  202  ...  58  32  .274
0   1   8삼성20  20  13.37  1686  5085  4492  634  1202  195  ...  47  50  .268
0   1   9SK20  20   9.40  1754  5083  4462  582  1114  163  ...  46  33  .250
0   1  10한화20  20   4.37  1701  5010  4436  508  1085  178  ...  43  24  .245

                                    WAR*     WPA
      출루    장타   OPS  wOBA   wRC+   WAR*     WPA
0   .354  .410  .764  .346  109.5  19.33     NaN
0   .347  .392  .739  .338  104.3  18.61     NaN
0   .349  .412  .762  .343  107.6  17.97     NaN
0   .328  .408  .736  .332  100.6  15.32     NaN
0   .344  .373  .717  .329   98.7  12.47     NaN
..   ...   ...   ...   ...    ...    ...     ...
0   .357  .404  .761  .347   99.4  18.48   10.79
0   .351  .404  .755  .343   97.3  16.32    6.94
0   .337  .393  .730  .332   89.4  13.37   -1.03
0   .329  .383  .712  .324   85.0   9.40   -1.84
0   .321  .340  .661  .307   77.1   4.37  -10.31

[313 rows x 31 columns]

In [55]:
for i in range(0,len(team_record[('이름','이름')])) :
    my_str = team_record[('이름','이름')].iloc[i,0]  
    team_record[('이름','이름')].iloc[i,0]  = re.sub('[^a-zA-Zㄱ-힗]', '',my_str)

C:\Users\hello\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\hello\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [56]:
team_record

    순   이름   팀   WAR*     G    타석    타수   득점    안타   2타  ...  희타  희비    비율  \
    순   이름   팀   WAR*     G    타석    타수   득점    안타   2타  ...  희타  희비    타율
0   1  MBC  82  19.33   952  3061  2686  419   757  124  ...  32  27  .282
0   1   삼성  82  18.61   887  3043  2647  429   705  126  ...  36  18  .266
0   1   OB  82  17.97   930  3098  2745  399   778  137  ...  46  18  .283
0   1   해태  82  15.32   873  2990  2665  374   696  110  ...  28  21  .261
0   1   롯데  82  12.47   863  3062  2628  353   674  112  ...  41  27  .256
.. ..  ...  ..    ...   ...   ...   ...  ...   ...  ...  ...  ..  ..   ...
0   1   롯데  20  18.48  1552  5096  4452  688  1240  232  ...  36  44  .279
0   1  KIA  20  16.32  1614  5028  4399  645  1204  202  ...  58  32  .274
0   1   삼성  20  13.37  1686  5085  4492  634  1202  195  ...  47  50  .268
0   1   SK  20   9.40  1754  5083  4462  582  1114  163  ...  46  33  .250
0   1   한화  20   4.37  1701  5010  4436  508  1085  178  ...  43  24  .245

                                    WAR*     WPA
      출루    장타   OPS  wOBA   wRC+   WAR*     WPA
0   .354  .410  .764  .346  109.5  19.33     NaN
0   .347  .392  .739  .338  104.3  18.61     NaN
0   .349  .412  .762  .343  107.6  17.97     NaN
0   .328  .408  .736  .332  100.6  15.32     NaN
0   .344  .373  .717  .329   98.7  12.47     NaN
..   ...   ...   ...   ...    ...    ...     ...
0   .357  .404  .761  .347   99.4  18.48   10.79
0   .351  .404  .755  .343   97.3  16.32    6.94
0   .337  .393  .730  .332   89.4  13.37   -1.03
0   .329  .383  .712  .324   85.0   9.40   -1.84
0   .321  .340  .661  .307   77.1   4.37  -10.31

[313 rows x 31 columns]